body {
    background-color: black;
    color: darkred;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

header,
main,
footer {
    border: 2px solid darkgoldenrod;
}

.container {
    max-width: 800px;
    width: 80%;
    height: 60%;
    margin: auto;
    padding: 20px;
}

.container a {
    display: block;
    margin-top: 10px;
}

#contact {
    color: gold;
}

a {
    color: blue;
}

a:hover {
    color: lightblue;
}
