body {
    background-color: black;
    color: darkred;
    font-family: Arial;
    text-align: center;

    background-image: url("generic-casino-2.webp");
    background-position: center top;
}

.container {
    max-width: 800px;
    width: 80%;
    height: 60%;

    margin: auto;          /* centers content */
    padding: 20px;

    border: 3px solid darkgoldenrod;
    border-top: 5px solid red;
}

.game-link {
    display: block;
    margin-top: 10px;
}

#contact {
    color: gold;
}

ul {
  list-style-position: inside;
}
a {
  color: gold;
}
footer p {
  text-align: center;
  font-size: 13px;
}
a:hover {
  text-decoration: underline;
}


h1 {

  color: red;
  font-size: 36px;
}

h2 {

  font-size: 24px;
}

h3 {

  font-size: 18px;
}
h1, h2, h3 {
  font-weight: normal;
  font-style: italic;
}
